* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: linear-gradient(to right, #1A1A1A 30%, #FFF 30%);
    font-family: 'Noto Serif', serif;
}

#app {
    padding: 0 80px;
}

/*Lista produtos*/
.produtos {
    max-width: 900px;
    margin: 100px auto;
}

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #FFF;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.produto-img {
    max-width: 300px;
    margin-right: 40px;
}

.produt-titulo {
    font-size: 3rem;
    line-height: 1;
}

.produto-preco {
    color: rgba(0, 0, 0, .5);
}

/*MODAL*/
.modal-preco {
    background-color: #FFF;
}