* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: linear-gradient(to right, #1A1A1A 30%, #FFF 30%);
    font-family: 'Noto Serif', serif;
}

#app { padding: 0 80px; }



/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

.logo { width: 80px; }

.carrinho-menu::after {
    content: "";
    display: inline-block;
    background: url("./assets/carrinho.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.carrinho-menu { display: flex; align-items: center; cursor: pointer; }



/*Lista produtos*/
.produtos { max-width: 900px; margin: 100px auto; }

.produto {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #FFF;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.produto-img { max-width: 300px; margin-right: 40px; }

.produt-titulo { font-size: 3rem; line-height: 1; }

.produto-preco { color: rgba(0, 0, 0, .5); }



/* MODAL*/
.modal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px;
}

.modal-container {
    position: relative;
    background-image: linear-gradient(to right, transparent 250px, #FFF 250px);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 50px 50px 50px 0;
    animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate3d(50px, 0, 0); }
    to { opacity: 1; transform: translate3d(0px, 0, 0); }
}

.modal-fechar {
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #FFF;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.modal-img { grid-column: 1; box-shadow: 3px 4px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2); }

.modal-img img { max-width: 300px; display: block; }

.modal-dados { grid-column: 2; max-width: 600px; }

.modal-titulo { font-size: 3rem; }

.modal-btn {
    margin-top: 80px;
    background-color: #000;
    cursor: pointer;
    color: #FFF;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    font-family: 'Noto Serif', serif;
    transition: all .3s ease-in-out;
}

.modal-btn:active { background-color: #808080; }

.modal-btn.esgotado { background-color: #808080; }



/* AVALIAÇÕES */
.avaliacoes { grid-column: 2; }

.avaliacoes-subtitulo { font-size: 1.75rem; }

.avaliacao { border-bottom: 1px solid rgba(0, 0, 0, .1); padding-bottom: 20px; }

.avaliacao-descricao { color: rgba(0, 0, 0, .7); margin: 20px 0 5px 0; }

.avaliacao-usuario { font-weight: bold; }

/* ALERTA */

.alerta {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 5;
    width: 100%;
    text-align: center;
    display: none;
}

.alerta.ativo { display: block; animation: fadeDown .3s forwards;}

.alerta-mensagem {
    background-color: #FFF;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid #000;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .1), 0px 4px 10px rgba(0, 0, 0, .2);
}

@keyframes fadeDown {
    from { transform: translate3d(0, -30px, 0); opacity: 0;}
    to { transform: translate3d(0, 0px, 0); opacity: 1;}
}

